a.noline:link    {text-decoration:none}
a.noline:visited {text-decoration:none}
a.noline:active  {text-decoration:none}

td.blue   { background-color:#082173; }
td.green  { background-color:#40A838; }
td.ltgray { background-color:#EEEEEE; }
td.mdgray { background-color:#CCCCCC; }
td.white  { background-color:#FFFFFF; }

p.ptnav { color:#BBBBBB;  font:bold 7.5pt verdana;  padding-bottom:2px;  padding-top:0px; }

a.ptnav:link     { color:#48D050; font:bold 8pt verdana; text-decoration: none}
a.ptnav:visited  { color:#48D050; font:bold 8pt verdana; text-decoration: none}
a.ptnav:active   { color:#EE0000; font:bold 8pt verdana; text-decoration: none}

a.ptnav2:link    { color:#EAEAEA; font:bold 8pt verdana; text-decoration: none}
a.ptnav2:visited { color:#EAEAEA; font:bold 8pt verdana; text-decoration: none}
a.ptnav2:active  { color:#FF0000; font:bold 8pt verdana; text-decoration: none}

table.sidebar     { background-color:#40A838; } /* slightly darker green... #207728 */
table.sidebar_nsb { background-color:#FFFFFF; }

/* sidebar images ============================== */
p.sidebarhd { padding-top:1px;  padding-bottom:2px;                                         color:#082173;  font:bold 7.1pt verdana; }
p.sidebar00 { padding-top:0px;  padding-bottom:0px;  padding-left:0px;  padding-right:0px;  color:#000000;  font:bold 7.1pt verdana; }
p.sidebarsm { padding-top:3px;  padding-bottom:3px;  padding-left:4px;  padding-right:4px;  color:#000000;  font:bold 7.1pt verdana; }
p.sidebarmd { padding-top:5px;  padding-bottom:5px;  padding-left:4px;  padding-right:4px;  color:#000000;  font:bold 7.1pt verdana; }
p.sidebarlg { padding-top:9px;  padding-bottom:9px;  padding-left:4px;  padding-right:4px;  color:#000000;  font:bold 7.1pt verdana; }


/* sidebar text ============================== */

p.sidebar_txt     { padding-top:0px;  padding-bottom:0px;  padding-left:4px;  padding-right:4px;  color:#000000;  font:7.1pt verdana; }
p.sidebar_txt_nl  { padding-top:6px;  padding-bottom:0px;  padding-left:4px;  padding-right:4px;  color:#000000;  font:7.1pt verdana; }
p.sidebar_txtb    { padding-top:0px;  padding-bottom:0px;  padding-left:4px;  padding-right:4px;  color:#000000;  font:bold 7.1pt verdana; }
p.sidebar_txtb_nl { padding-top:6px;  padding-bottom:0px;  padding-left:4px;  padding-right:4px;  color:#000000;  font:bold 7.1pt verdana; }

a.sidebar:link    { color:#0000FF;  font:7.1pt verdana; text-decoration:none }
a.sidebar:visited { color:#0000FF;  font:7.1pt verdana; text-decoration:none }
a.sidebar:active  { color:#FF0000;  font:7.1pt verdana; text-decoration:none }

a.sidebarb:link    { color:#0000FF;  font:bold 7.1pt verdana; text-decoration:none }
a.sidebarb:visited { color:#0000FF;  font:bold 7.1pt verdana; text-decoration:none }
a.sidebarb:active  { color:#FF0000;  font:bold 7.1pt verdana; text-decoration:none }

a.sidebarb2:link    { color:#EE0044;  font:bold 7.1pt verdana; text-decoration:none }
a.sidebarb2:visited { color:#EE0044;  font:bold 7.1pt verdana; text-decoration:none }
a.sidebarb2:active  { color:#FF0000;  font:bold 7.1pt verdana; text-decoration:none }

td.navbarheading { background-color:#082173; }
p.navbarheading  { color:#DDDDDD;  font:bold 8pt verdana;  padding-bottom:2px;  padding-top:0px; }

p.navbarwhite           { color:#000000;  font:bold 8pt verdana; }
td.navbarwhite          { background-color:#FFFFFF; }
td.navbarwhite2         { background-color:#FFFFBB; }
a.navbarwhite:link      { font:8pt verdana; text-decoration:none; }
a.navbarwhite:visited   { font:8pt verdana; text-decoration:none; }
a.navbarwhite:active    { font:8pt verdana; text-decoration:none; }

a.navbarwhiteb:link     { font:bold 8pt verdana; text-decoration:none; }
a.navbarwhiteb:visited  { font:bold 8pt verdana; text-decoration:none; }
a.navbarwhiteb:active   { font:bold 8pt verdana; text-decoration:none; }

a.navbarwhiteb2:link    { font:bold 8pt verdana; text-decoration:none; color:#0044FF; }
a.navbarwhiteb2:visited { font:bold 8pt verdana; text-decoration:none; color:#0044FF; }
a.navbarwhiteb2:active  { font:bold 8pt verdana; text-decoration:none; color:#FF0000; }

p.weblink_main      { padding-top:0px; padding-bottom:1px; padding-right:5px; color:#ffffff;  font:bold 11pt verdana; }
p.weblink_category  { padding-top:1px; padding-bottom:2px; padding-left:3px; color:#000000;  font:16pt verdana; }
p.weblink_category2 { padding-top:1px; padding-bottom:2px; padding-left:3px; color:#000000;  font:20pt verdana; }
td.weblink_main      { background-color:#40A838; }
td.weblink_category  { background-color:#EEEEEE; }

p.weblink_main_index     { padding-top:4px; padding-bottom:5px; padding-right:5px; color:#000000;  font:16pt verdana; }

a.weblink_dt:link    { color:#0000FF;  font:14pt verdana; text-decoration:none; }
a.weblink_dt:visited { color:#0000FF;  font:14pt verdana; text-decoration:none; }
a.weblink_dt:active  { color:#FF0000;  font:14pt verdana; text-decoration:none; }

a.weblink_dtb:link    { color:#0000FF;  font:16pt verdana; text-decoration:none; }
a.weblink_dtb:visited { color:#0000FF;  font:16pt verdana; text-decoration:none; }
a.weblink_dtb:active  { color:#FF0000;  font:16pt verdana; text-decoration:none; }

cite.weblink         { color:#000000;  font:10pt verdana; }

div.nsb { margin-left:1em; margin-right:1em; }


